<header class="topbar">

    <div class="topbar-container">

        <!-- LOGO -->
        <div class="logo">
            Arf.Store
        </div>

        <!-- MENU -->
        <nav class="menu" id="menu">

            <a href="../index.html"
            data-translate="home">
                Home
            </a>

            <a href="../products.html"
            data-translate="products">
                Products
            </a>

            <a href="#"
            data-translate="about">
                About
            </a>

            <a href="#"
            data-translate="contact">
                Contact
            </a>

        </nav>

        <!-- RIGHT -->
        <div class="topbar-right">

            <!-- SEARCH -->
            <div class="search-box">

                <input
                type="text"
                placeholder="Search..."
                data-placeholder="search">

            </div>

            <!-- LANGUAGE -->
            <div class="lang-dropdown">

                <button class="lang-toggle"
                id="langToggle">

                    <i class="fa-solid fa-globe"></i>

                    <span id="currentLang">
                        ID
                    </span>

                    <i class="fa-solid fa-chevron-down"></i>

                </button>

              <!-- MENU -->
<div class="lang-menu"
id="langMenu">

    <button class="lang-option active"
    data-lang="id">
        🇮🇩 Indonesia
    </button>

    <button class="lang-option"
    data-lang="en">
        🇺🇸 English
    </button>

    <button class="lang-option"
    data-lang="jp">
        🇯🇵 Jepang
    </button>

    <button class="lang-option"
    data-lang="kr">
        🇰🇷 Korea
    </button>

    <button class="lang-option"
    data-lang="cn">
        🇨🇳 China
    </button>

</div>
            </div>

            <!-- LOGIN -->
            <button class="btn-login"
            data-translate="login">
                Login
            </button>

            <!-- CART -->
            <div class="cart">

                <i class="fa-solid fa-bag-shopping"></i>

            </div>

            <!-- HAMBURGER -->
            <div class="hamburger"
            id="hamburger">

                <i class="fa-solid fa-bars"></i>

            </div>

        </div>

    </div>

</header>